[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-import-export = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
gunicorn = "*"
argon2-cffi = "*"
strawberry-graphql-django = "*"
pyjwt = "*"
dramatiq = {extras = ["rabbitmq", "watch"], version = "*"}
django-dramatiq = "*"
python-dotenv = "*"
pillow = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
