{$DOMAIN_NAME} {
	tls {$TLS} {$TLS_KEY}

	# Django Staticfiles
	route /static* {
		uri strip_prefix /static
		root * /static/djstatic
		file_server
	}

	# Django API
	route /api/* {
		rate_limit * {remote.ip} {$RATE_LIMIT}
		reverse_proxy django:9000
	}

	# Hasura
	redir /hasura /hasura/ 301
	route /hasura/* {
		uri strip_prefix /hasura
		rate_limit * {remote.ip} {$RATE_LIMIT}
		reverse_proxy hasura:8080
	}

	# Rabbit MQ Management
	redir /rabbitmq /rabbitmq/ 301
	route /rabbitmq/* {
		uri strip_prefix /rabbitmq
		reverse_proxy rabbitmq:15672
	}

	# Redis Commander
	redir /redis /redis/ 301
	route /redis/* {
		uri strip_prefix /redis
		reverse_proxy redis-commander:8081
	}

	# Main Web Application (Client)
	route /* {
		reverse_proxy client:5000
	}
}