{$DOMAIN_NAME} {
	tls {$TLS} {$TLS_KEY}

	# Media Files
	# handle_path /media* {
	# 	root * /static/djmedia
	# 	file_server
	# }

	# Django Staticfiles
	handle_path /static* {
		root * /static/djstatic
		file_server
	}

	# Django API
	handle /api* {
		reverse_proxy django:9000
	}

	# Hasura 
	handle_path /hasura* {
		reverse_proxy hasura:8080
	}

	# Rabbit MQ Management
	handle_path /rabbitmq* {
		reverse_proxy rabbitmq:15672
	}

	# Main Web Application (Client)
	handle_path /* {
		reverse_proxy client:5000
	}
}
