{$DOMAIN_NAME} {
	tls {$TLS} {$TLS_KEY}

	# Django Staticfiles
	handle_path /static* {
		root * /static/djstatic
		file_server
	}

	# Django API
	handle /api* {
		reverse_proxy django:9000
	}

	# Bun Uploader
	handle /uploader* {
		reverse_proxy uploader:3000
	}

	# Hasura
	redir /hasura /hasura/ 301
	handle_path /hasura/* {
		reverse_proxy hasura:8080
	}

	# Rabbit MQ Management
	redir /rabbitmq /rabbitmq/ 301
	handle_path /rabbitmq/* {
		reverse_proxy rabbitmq:15672
	}

	# Main Web Application (Client)
	handle_path /* {
		reverse_proxy client:5000
	}
}

analytics.{$DOMAIN_NAME} {
	tls {$TLS} {$TLS_KEY}
	handle_path /* {
		reverse_proxy plausible:8000
	}
}
