<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verified - OnRoad</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap"
    />
    <style>
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 2rem;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 6rem;
      }

      h2 {
        color: #333;
        font-weight: 400;
      }

      p {
        color: #555;
        margin-bottom: 20px;
      }

      .emoji {
        font-size: 1.5rem;
        margin-right: 5px;
      }
    </style>
  </head>
  <body
    style="
      font-family: Rubik, Arial, sans-serif;
      background-color: #f0f1f3;
      margin: 0;
      padding: 2.5rem 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="container">
      <h2>
        <span class="emoji">🎉</span> Thank you for confirming your identity,
        <strong>{{ username }}</strong>!
      </h2>

      <p>You are now all set to explore the exciting features of OnRoad.</p>

      <p>Best regards,<br />OnRoad Team</p>
    </div>
  </body>
</html>
